@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    @if (ViewBag.oo != null)
    {
        <script>
                        alert("You are selected this courses befor")
        </script>
    }
</div>

